@import "commons.css";

.table_container {
  background: linear-gradient(to right, 
                                var(--second-bg) 0%, 
                              #D0B519 100%);
    color: var(--dark-fg);

    width: 90%;
    margin:auto;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

.table {
  background: linear-gradient(to right, 
                              #353535 0%, 
                              #282827 100%);
    color: var(--light-fg);
    border: 3px solid var(--main-bg);

    overflow-x:auto;
    min-width: 90%;
    margin:auto;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

td, th, tr, td button, td a {
  font-size: 3vw;
}

.bento {
  background: linear-gradient(to right, 
                                #09203f 0%, 
                                var(--main-bg) 100%);
  color: var(--light-fg);

  width: 90%;
  padding: 2%;
  border-radius: 25px;
  
  margin: auto;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(50vw, 1fr));
}

.comment {
  border: none;
  border-radius: 25px;
  padding: 15px;
  width: 80%;

  background: linear-gradient(to right, 
                              #353535 0%, 
                              #282827 100%);
  color: var(--light-fg)
}

input[type=number] {
  background-color: var(--light-fg);
  padding: 0.5vw;
  border: none;
  border-radius: 15vw;
  box-sizing: border-box;
  margin: auto;
}

.button, input[type=submit] {
    border-radius: 25px;
    border: none;
    padding: 1% 3%;
    margin-top: 3%;
    margin: auto;

    background-color: var(--light-fg);
    color: var(--main-bg);
}

.button:hover, input[type=submit]:hover {
  background-color: var(--main-bg);
  color: var(--light-fg);
}

.bento article:hover,
.bento button:hover {
  box-shadow: rgba(242, 242, 3, 0.829) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.grid2,
.grid3,
.grid4,
.grid5,
.grid10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: stretch;
    align-items: center;
    background: linear-gradient(to right, 
                              #353535 0%, 
                              #282827 100%);
    border: 3px solid #D0B519;
    color: var(--light-fg);
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    word-break: break-word;
    hyphens: auto;
}

