@import "commons.css";

.table_container {
  background: linear-gradient(to right, 
                                var(--second-bg) 0%, 
                              #D0B519 100%);
    color: var(--dark-fg);

    max-width: 60%;
    margin:auto;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

.table {
  background: linear-gradient(to right, 
                              #353535 0%, 
                              #282827 100%);
    color: var(--light-fg);
    border: 3px solid var(--main-bg);
    
    max-width: 90%;
    margin:auto;
    padding: 2%;
    border-radius: 25px;
    text-align: center;
}

.bento {
  background: linear-gradient(to right, 
                                #09203f 0%, 
                                var(--main-bg) 100%);
  color: var(--light-fg);

  max-width: 60%;
  padding: 2%;
  border-radius: 25px;
  
  margin: auto;

  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
}

.bento article:hover,
.bento button:hover {
  box-shadow: rgba(242, 242, 3, 0.829) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  transform: translateY(-3px) scale(1.1);
}

.grid2,
.grid3,
.grid5,
.grid10 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, 
                              #353535 0%, 
                              #282827 100%);
    
    ;
    border: 3px solid #D0B519;
    color: var(--light-fg);
    border-radius: 25px;
    padding: 20px;
}

.grid2 {
    grid-column: span 2/auto;
}

.grid3 {
  grid-column: span 3/auto;
}

.grid5 {
  grid-column: span 5/auto;
}

.grid10 {
  grid-column: span 10/auto;
}


